body{
    font-family: 'SVN-Vogue', sans-serif;
    background-color: #0d95a1;
}

.bg-bm{
    background-color: #06af84;
}

a{color: #0071bb;}

.header{
    /*background: url(../images/navi-bg.jpg) no-repeat center center;*/
    /*background-size: cover;*/
    font-size: 0.8rem;
    background: -webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#fafafa));
    background: -webkit-linear-gradient(#e9e9e9,#fafafa);
    background: -o-linear-gradient(#e9e9e9,#fafafa);
    background: linear-gradient(#e9e9e9,#fafafa);
}
.logo_img-fluid {
    max-width: 15%;
	min-width:80px;
    height: auto;
}
.logo_img-top {
	padding-left: 10px;
	padding-top: 10px;
	vertical-align:top;
}
/*.container{padding: 0 !important;}*/

html {
    font-size: 0.8rem;
}

.header{overflow: hidden;}

@media (max-width: 480px) {
    #loginForm{
        background-image: none !important;

    }

    #banner{
        background: url('../images/official/game-bg-mobile.png') no-repeat center top !important;
        background-size: contain !important;
    }

    /*#quaChau{margin-top: -25px !important;}*/

    #mainNav li a{min-width: auto !important; font-size: 0.9rem;}
    #winnerInfo{font-size: 1rem;}
    #winnerInfo img{max-height: 20px;}
}

@media (min-width: 576px) {
    html { font-size: 1rem; }
    .header{ font-size: 1rem; }
}
@media (min-width: 768px) {
    html { font-size: 1rem; }
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
}

.strong{
    font-weight: bold;
}
.bigsize{
	font-size: 2.5rem;
    line-height: 1.5rem;
}
.img-banner{width: 100%;}

#navi .btn{
    vertical-align: baseline; text-align: left;
    background-repeat: no-repeat;
    border-color: transparent;
    font-weight: bold;
    padding-left: 110px;
}
#navi div {
    margin: 2px 0;
}
.sm-gutters{margin: 0 -2px;}
.sm-gutters > [class*='col-']{padding: 0 2px;}

#gameSection{
    //background-color: #00959e;
    /*background: url('../images/official/bg-game.png') no-repeat right top #00959e;*/
}

#animation_container {
	position:relative;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
  }

#banner{
    //background: url('../images/official/bg_quakhung.jpg') no-repeat center top;
    background-size: contain;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no-wrap{
    white-space: nowrap;
}
.text-title{
color: #FFF;
}
.text-header{
    background-color: #479440;
    -webkit-border-radius: 15px 15px 15px 0;
    -moz-border-radius: 15px 15px 15px 0;
    border-radius: 15px 15px 15px 0;
    padding: 0.5rem 2rem;
    color: #FFF;
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
}

.bg-img{
    background: url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
}

.prd-item{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.prd-item:hover{
    -webkit-box-shadow: 0 0 100px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 100px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 100px 10px rgba(0,0,0,0.2);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}



.prd-item h6{
    height: 2.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn-circle{
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    padding-left: 15px;
    padding-right: 15px;
}

.slick-next, .slick-next:hover, .slick-next:focus{
    right: -20px;
    background: url("../images/arrow-next.svg") no-repeat center center;
}
.slick-prev, .slick-prev:hover, .slick-prev:focus{
    left: -20px;
    background: url("../images/arrow.svg") no-repeat center center;
}

.slick-next,
.slick-prev{
    z-index: 1000;
    width: 27px;
    height: 44px;
    background-size: 27px 44px;
}
.slick-prev:before, .slick-next:before{
    color: green;
    visibility: hidden;
}

#footer{
    background: #fcfcfc;
}

.video-container{
    border: 5px solid #fff;
}

.container-md{max-width: 720px; margin: 0 auto;}
/*
.bg-banner-1{
    background: url('../images/banner-bg.jpg') no-repeat center center;
    background-size: cover;
}*/

.bg-game-gc-detail{
    background: #0171bb url('../images/official/bg-game-gc-detail.jpg') no-repeat center top;
    background-size: cover;
}

#accordion .card{margin-bottom: 2px; border-color: #ceecff;}
#accordion .card .card-header{background-color: #ceecff; border-bottom-color: #ceecff; cursor: pointer;}

.text-primary{color: #0d4d89 !important;}

ol.fmc-ol{list-style: none; counter-reset: li; padding-left: 1rem;}
ol.fmc-ol li {
    counter-increment: li;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 3rem;
}
ol.fmc-ol li::before {
    content: counter(li);
    color: white;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    background-color: #0d4d89;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

#inpPhone{max-width: 300px;}

#charList div{
    border: 1px solid #FFF;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    width: 2.5rem; text-align: center;
}

.bg-ghepchu{
    background: url('../images/official/bg-ghep-chu.jpg') no-repeat center top;
    background-size: cover;
}

.pmc-table thead th{background-color: #d61675; color: #FFF; text-align: center;}
.pmc-table tbody td{
    background-color: #b5fbff;
    color: #0d4d89;
}

#animation_container, #_preload_div_ {
    /*position:absolute;*/
    /*margin:auto;*/
    /*left:0;right:0;*/
    /*top:0;bottom:0;*/
}

#sectionRegister{
    /*background-color: #F3ECF4;*/
}

#loginForm{
    background: url('../images/official/bg-register.png') no-repeat left bottom;
    background-size: contain;
}

#loginForm .spacer{
    padding-top: 6rem;
}

#videoSection{
    /*background: url('../images/official/bg-video.jpg') no-repeat left bottom;*/
    /*background-size: cover;*/
}

.form-control.bg-primary::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFF;
}
.form-control.bg-primary:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
    opacity:  1;
}
.form-control.bg-primary::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
    opacity:  1;
}
.form-control.bg-primary:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #FFF;
}
.form-control.bg-primary::-ms-input-placeholder { /* Microsoft Edge */
    color:    #FFF;
}

.form-control.bg-primary::placeholder { /* Most modern browsers support this now. */
    color:    #FFF;
}

#loginForm input[type=number]::-webkit-inner-spin-button,
#loginForm input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.rounded-50{
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
}

.bg-primary{
    background-color: #0071bb !important;
}

.text-primary{
    color: #0071bb !important;
}

.btn-primary{
    background-color: #5dac46;
    border-color: #5dac46;
}

.btn-outline-primary{
    border-color: #0071bb;
    color: #0071bb;
}

.section-content img{max-width: 100%;}

.sticky{z-index: 1000;}

.promotion-title{height: 6rem;}

.game-form-wrapper{position: relative;}
#loading{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    background-color: #FFF;
    /*z-index: 10;*/
}

/*#mainNav li a{min-width: 110px;}*/
@media (min-width: 768px) {
    #mainNav li a{font-size: 1.1rem;}
}

#btnShowResult img{
    /*max-width: 30%;*/
    cursor: pointer;
}

@keyframes glowing {
    0% {
        -webkit-filter: drop-shadow(0 0 0 #0071bb);
        filter: drop-shadow(0 0 0 #0071bb);
    }
    50% {
        -webkit-filter: drop-shadow(0 0 0 #0071bb);
        filter: drop-shadow(0 0 0 #0071bb);
    }
    60% {
        -webkit-filter: drop-shadow(0 0 30px #0071bb);
        filter: drop-shadow(0 0 30px #0071bb);
    }
    70% {
        -webkit-filter: drop-shadow(0 0 0 #0071bb);
        filter: drop-shadow(0 0 0 #0071bb);
    }
    80% {
        -webkit-filter: drop-shadow(0 0 30px #0071bb);
        filter: drop-shadow(0 0 30px #0071bb);
    }
}

.btn-glow {
    animation: glowing 5000ms infinite;
}

.btn-danger{background-color: #db6456; border-color: #db6456;}

.btn-toggle .expand-text{display: none;}
.btn-toggle.collapsed .expand-text{display: inherit;}
.btn-toggle.collapsed .collapse-text{display: none;}

#dayDen{position: relative; z-index: 10;}
/*#quaChau{margin-top: -55px;}*/

#dayDen{
    background: url("../images/no.png") no-repeat center top;
    background-size: cover;
}

#section-winners .text-primary h5{letter-spacing: -1px;}

#giftList .gift-item{cursor: pointer;}
#giftList .gift-item{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#giftList  .gift-item:hover{
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
#prmNav.nav-tabs .nav-link{
    background-color: #0F75B2;
    color: #FFF;
    text-align: center;
    border-bottom: 5px solid transparent !important;
}

#prmNav.nav-tabs .nav-item{
    margin-bottom: 0.5rem;
}

#prmNav.nav-tabs .nav-item.show .nav-link, #prmNav.nav-tabs .nav-link.active, #prmNav.nav-tabs .nav-item.show .nav-link:hover{
    border-bottom: 5px solid #28a745 !important;
}

#prmNav.nav-tabs{
    border-bottom: none;
}

#luckyModal img{
    cursor: pointer;
    transition: all 0.2s ease;
}
#luckyModal img:hover{
    margin-top: -10px;
}

#luckyModal .modal-body{position: relative;}
.loading{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.row_blog {    
	display: -ms-flexbox;
    display: flex;	
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}
*, ::after, ::before {
    box-sizing: border-box;
}

/// for checkbox
.selectdiv {
  width = 285px;
  float: left;
/*  margin: 50px 33%;*/
}

/*To remove button from IE11, thank you Matt */
select::-ms-expand {
     display: none;
}

.selectdiv:after {
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}