@font-face {
    font-family: 'SVN-Vogue';
    src: url('SVN-VogueBold.eot');
    src: url('SVN-VogueBold.eot?#iefix') format('embedded-opentype'),
        url('SVN-VogueBold.woff2') format('woff2'),
        url('SVN-VogueBold.woff') format('woff'),
        url('SVN-VogueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Vogue';
    src: url('SVN-Vogue.eot');
    src: url('SVN-Vogue.eot?#iefix') format('embedded-opentype'),
        url('SVN-Vogue.woff2') format('woff2'),
        url('SVN-Vogue.woff') format('woff'),
        url('SVN-Vogue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Vogue';
    src: url('SVN-Vogue_1.eot');
    src: url('SVN-Vogue_1.eot?#iefix') format('embedded-opentype'),
        url('SVN-Vogue_1.woff2') format('woff2'),
        url('SVN-Vogue_1.woff') format('woff'),
        url('SVN-Vogue_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Vogue';
    src: url('SVN-VogueBold_1.eot');
    src: url('SVN-VogueBold_1.eot?#iefix') format('embedded-opentype'),
        url('SVN-VogueBold_1.woff2') format('woff2'),
        url('SVN-VogueBold_1.woff') format('woff'),
        url('SVN-VogueBold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

